@import '../../module/basic.styl'

.login-container
  sizer(100%, 100vh)
  flexer(c, c, rn)

.login
  sizer(50%, 80%)
  flexer(c, c, cn)
  row-gap: 3.125vh

.login-title
  fonter(600, 2.875rem, 1.1)

.login-btn
  fonter(600, 1rem, 1.5)

.login-icon-container
  left: 70%

.link-to
  fonter(600, 1rem, 1.5)
  display: block
  text-align: center
  cursor pointer
  &:hover
    opacity 0.5