@import '../../module/basic.styl'

.login-input-container
  width 50%

.login-input
  anone()
  paddinger(8px, 8px, 8px, 8px)
  fonter(400, 0.75rem, 1.5)
  border 2px solid black
  width 100%
  border-radius: 0.34vw

.error-paragraph
  color rgb(211, 56, 56)
  padding-top: 1.58vh
  box-sizing: border-box